.tx-table {

    width: 100%;
    
    th {
        font-size: 0.82rem;
        font-weight: 400;
        text-align: left;
        white-space: nowrap !important;
        padding: 5px 10px;
        border-bottom: 1px solid #eee;

        &:first-child {
            padding-left: 16px;
        }
    }

    td {
        font-family: 'Lato';
        font-size: 0.85rem;
        text-align: left;
        white-space: nowrap !important;
        padding: 8px 10px;
        border-bottom: 1px solid #eee;

        &:first-child {
            padding-left: 16px;
        }
    }
}


.dark .tx-table {

    th,
    td {
        border-color: #444;
    }
}